<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="{{ROOT}}static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='{{ROOT}}zacetna_stran/'>Domov</a>
      <nav>
        <a href="{{ROOT}}borze/">Borze</a>
        <a href="{{ROOT}}sektorji/">Sektorji</a>
        <a href="{{ROOT}}topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="{{ROOT}}prijava/">Prijava</a>
        <a href="{{ROOT}}registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="{{ROOT}}uporabnik/{{stanje}}/">Moj profil</a>
        <a href="{{ROOT}}odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>
<body>
{{!base}}
</body>



<footer id = "footer">
  <div class="testimonials">
    <section>
      <div class="content">
        <blockquote>
          <p>S pomočjo Zelo dobre borze sem končno postal milijonar!</p>
        </blockquote>
        <div class="author">
          <p class="credit">- <strong>Miha</strong> </p>
        </div>
      </div>
    </section>
    <section>
      <div class="content">
        <blockquote>
          <p>S trgovanjem na Zelo dobri borzi sem lahko zapustil svojo prejšnjo službo 
            in končno začel potovati po svetu in zaživel brez finančnih skrbi!</p>
        </blockquote>
        <div class="author">
          <p class="credit">- <strong>Mojca</strong></p>
        </div>
      </div>
    </section>
    <section>
      <div class="content">
        <blockquote>
          <p>Zelo dobra borza mi je pomagala, da sem končno zaživel svoje sanjsko življenje.</p>
        </blockquote>
        <div class="author">
          <p class="credit">- <strong>Marko</strong></p>
        </div>
      </div>
    </section>
  </div>


<footer id="footer">
  <div class="inner">
    <div class="content">
      <section>
        <h3>Omejitev odgovornosti</h3>
        <p>Nahajate se na spletnem portalu ZELO DOBRA BORZA D.O.O.. Vaš dostop do tega spletnega portala in njegovo 
          uporabo urejajo ta splošna pravila kot tudi nekateri zakoni. Z vstopom na spletni portal potrjujete,
           da ste s temi splošnimi pogoji seznanjeni, da z njimi soglašate, ter da vas določbe teh splošnih pogojev
           zavezujejo.
           Spletno mesto in domena www.zelodobraborza.si je bilo postavljeno z namenom obveščanja širše
           javnosti o podjetju ter njegovih storitvah in v nobenem primeru ne predstavlja nasveta, ponudbe 
           ali priporočila. 
           </p>
      </section>
      <section>
        <h4>PRIDRUŽI SE USPEŠNIM VLAGATELJEM</h4>
        <ul class="alt">
          <li><a href="{{ROOT}}registracija/">Registracija</a></li>
          <li><a href="{{ROOT}}borze/">Borze</a></li>
          <li><a href="{{ROOT}}sektorji/">Sektorji</a></li>
          <li><a href="{{ROOT}}topdelnice/">Top delnice</a></li>
        </ul>
      </section>
      <section>
        <h4>KONTAKT</h4>
        <ul class="plain">
          <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>070 81 81 91</a></li>
          <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>info@zelodobraborza.si</a></li>
        </ul>
      </section>
    </div>
  </div>
</footer>

</html>

