<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='/zacetna_stran/'>Domov</a>
      <nav>
        <a href="/borze/">Borze</a>
        <a href="/sektorji/">Sektorji</a>
        <a href="/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="/prijava/">Prijava</a>
        <a href="/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="/uporabnik/{{stanje}}/">Moj profil</a>
        <a href="/odjava/">Odjava</a>
        %end
    </nav>
      </header>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="/static/main.css">
 <h1>Vse delnice, ki so na borzi {{oznaka}}:

<table cellpadding="0" cellspacing="0" border="1">

<tr>
    <th>Oznaka</th>
    <th>Ime</th>
    <th>Cena</th>
    <th>Sektor</th>
    <th>Količina</th>
    %if stanje != 0:
    <th> Kupi ali prodaj delnico </th>
    %end
</tr>

%for oznaka, ime, cena, sektor, kolicina in delnice:
<tr>
    <th>{{oznaka}}</th>
    <th>{{ime}}</th>
    <th>{{cena}} EUR</th>
    <th><a href="/sektorji/{{sektor}}">{{sektor}}</a></th>
    <th>{{kolicina}}</th>
    %if stanje != 0:
    <th><a href="/uporabnik/{{stanje}}/trgovanje/{{oznaka}}/">Kupi/Prodaj</a></th>
    %end
</tr>

%end
</table>

<h2> Skupna vrednost vseh delnic na tej borzi je {{vrednost}} EUR.</h2>

<footer id = "footer">
  <div class="inner">
    <div class="content">
    <section> <h3>W. Feather:</h3>
    <h5>Buy stocks as you would groceries: <br /> when they are on sale </h5></section>
    <section> <h3>W. Buffet</h3>
    <h5>Risk comes from not knowing what you're doing</h5></section>
    <section> <h3>C. Munger</h3>
    <h5>If people weren't wrong so often, we would't be so rich</h5> </section>
    </div>
  </div>
</footer>

</html>