<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='/zacetna_stran/'>Domov</a>
      <nav>
        <a href="/borze/">Borze</a>
        <a href="/sektorji/">Sektorji</a>
        <a href="/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="/prijava/">Prijava</a>
        <a href="/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="/uporabnik/{{stanje}}/">Moj profil</a>
        <a href="/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="/static/main.css">
<table cellpadding="0" cellspacing="0" border="1">
<tr>
    <th>Oznaka</th>
    <th>Ime</th>
    <th>Regija</th>
</tr>
% for oznaka, ime, regija, in borze:
<tr>
    <th><a href="/borze/{{oznaka}}">{{oznaka}}</th>
    <th>{{ime}}</th>
    <th>{{regija}}</th>
</tr>
%end
</table>
<footer id = "footer">
  <div class="inner">
    <div class="content">
      <section align = center> <h3>W. Feather:</h3>
      <h5>Buy stocks as you would groceries: <br /> when they are on sale </h5></section>
      <section align = center> <h3>W. Buffet</h3>
      <h5>Risk comes from not knowing what you're doing</h5></section>
      <section align = center> <h3>C. Munger</h3>
      <h5>If people weren't wrong so often, we would't be so rich</h5> </section>
    </div>
  </div>
</footer>


</html>