<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="{{ROOT}}/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='{{ROOT}}/zacetna_stran/'>Domov</a>
      <nav>
        <a href="{{ROOT}}/borze/">Borze</a>
        <a href="{{ROOT}}/sektorji/">Sektorji</a>
        <a href="{{ROOT}}/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="{{ROOT}}/prijava/">Prijava</a>
        <a href="{{ROOT}}/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="{{ROOT}}/uporabnik/{{stanje}}/">Moj profil</a>
        <a href="{{ROOT}}/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>
<body>
<h1> V lasti imate naslednje delnice:</h1>
<table>
    <tr>
        <th> Oznaka </th>
        <th> Kolicina</th>
        <th> Kupi/Prodaj </th>
    <tr>
%for oznaka,kolicina in delnice:
<tr>
    <th>{{oznaka}}</th>
    <th>{{kolicina}}</th>
    <th><a href="{{ROOT}}/uporabnik/{{stanje}}/trgovanje/{{oznaka}}/">Kupi/Prodaj<a></th>
%end
</table>
<h4> Te delnice so skupno vredne {{vrednost_portfelja}} EUR.</h4>
<h2> Na voljo so še ostale delnice </h2>
<table>
  <tr>
    <th>Oznaka</th>
    <th>Ime</th>
    <th>Cena</th>
    <th>Borza</th>
    <th>Sektor</th>
    <th>Kolicina</th>
    <th>Kupi/Prodaj</th>
  </tr>
%for oznaka,ime,cena,borza,sektor,kolicina in vse:
  <tr>
    <th>{{oznaka}}</th>
    <th>{{ime}}</th>
    <th>{{cena}} EUR</th>
    <th><a href="{{ROOT}}/borze/{{borza}}">{{borza}}</a></th>
    <th><a href="{{ROOT}}/sektorji/{{sektor}}">{{sektor}}</a></th>
    <th>{{kolicina}}</th>
    <th><a href="{{ROOT}}/uporabnik/{{stanje}}/trgovanje/{{oznaka}}/">Kupi/Prodaj</a></th>
  </tr>
%end
</table>
</body>

<footer id = "footer">
  <div class="inner">
    <div class="content">
      <section align = center> <h3>W. Feather:</h3>
      <h5>Buy stocks as you would groceries: <br /> when they are on sale </h5></section>
      <section align = center> <h3>W. Buffet</h3>
      <h5>Risk comes from not knowing what you're doing</h5></section>
      <section align = center> <h3>C. Munger</h3>
      <h5>If people weren't wrong so often, we would't be so rich</h5> </section>
    </div>
  </div>
</footer>

</html>
