%rebase('base.html', stanje=stanje, ROOT=ROOT)

<h3> Trenutno stanje na računu je {{vrednost}} EUR </h3>
% if napaka == 2:
    <h3> Izpolnite vsaj en obrazec v ustrezni obliki </h3>
%end
%if napaka == 4:
<h3> Želeli ste dvigniti {{-prob}} EUR preveč. Prodajte delnice in poiskusite znova.</h3>
%end
<div  align="center">

<form action="{{ROOT}}uporabnik/{{stanje}}/denar/" class="form text-center" method="POST" style="width: 30%;margin-top: 5cm">
    <span>Količina</span>
    <br>
    <input name='kolicina1' type='integer' value = '0'/> EUR
    <br>
  %if napaka == 1:
  <h5> Geslo ni pravilo </h5>
  %end
  <br>
  <input type='radio' name='vrsta' value='dvig' id = 'vrsta' checked>
  <label for="vrsta">Dvig</label>

  <input type='radio' name='vrsta' value='polog' id = 'vrsta2'>
  <label for="vrsta2">Polog</label>

  <br>
  <span>Geslo:</span>
  <input name='geslo' type='password' />
  <input type='submit'  value='Potrdi'/>



</form>

</div>



