<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="{{ROOT}}static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='{{ROOT}}zacetna_stran/'>Domov</a>
      <nav>
        <a href="{{ROOT}}borze/">Borze</a>
        <a href="{{ROOT}}sektorji/">Sektorji</a>
        <a href="{{ROOT}}topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="{{ROOT}}prijava/">Prijava</a>
        <a href="{{ROOT}}registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="{{ROOT}}uporabnik/{{stanje}}/">Moj profil</a>
        <a href="{{ROOT}}odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>
<body>
<h3> Trenutno stanje na računu je {{vrednost}} EUR </h3>
% if napaka == 2:
    <h3> Izpolnite vsaj en obrazec v ustrezni obliki </h3>
%end
%if napaka == 4:
<h3> Želeli ste dvigniti {{-prob}} EUR preveč. Prodajte delnice in poiskusite znova.</h3>
%end
<div  align="center">

<form action="{{ROOT}}uporabnik/{{stanje}}/denar/" class="form text-center" method="POST" style="width: 30%;margin-top: 5cm">
    <span>Količina</span>
    <br>
    <input name='kolicina1' type='integer' value = '0'/> EUR
    <br>
  %if napaka == 1:
  <h5> Geslo ni pravilo </h5>
  %end
  <br>
  <input type='radio' name='vrsta' value='dvig' id = 'vrsta'>
  <label for="vrsta">Dvig</label>

  <input type='radio' name='vrsta' value='polog' id = 'vrsta2'>
  <label for="vrsta2">Polog</label>

  <br>
  <span>Geslo:</span>
  <input name='geslo' type='password' />
  <input type='submit'  value='Potrdi'/>



</form>

</div>



</body>

<footer id = "footer">
  <div class="inner">
    <div class="content">
      <section align = center> <h3>W. Feather:</h3>
      <h5>Buy stocks as you would groceries: <br /> when they are on sale </h5></section>
      <section align = center> <h3>W. Buffet</h3>
      <h5>Risk comes from not knowing what you're doing</h5></section>
      <section align = center> <h3>C. Munger</h3>
      <h5>If people weren't wrong so often, we would't be so rich</h5> </section>
    </div>
  </div>
</footer>

</html>