<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='/zacetna_stran/'>Domov</a>
      <nav>
        <a href="/borze/">Borze</a>
        <a href="/sektorji/">Sektorji</a>
        <a href="/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="/prijava/">Prijava</a>
        <a href="/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="/uporabnik/{{stanje}}/">Moj profil</a>
        <a href="/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>
<body>
<h1 align = center> Delnica podjetja {{ime}} <br/> ima trenutno ceno {{cena}} EUR.</h1>
<h2 align = center> V lasti imate {{kolicina2}} delnic tega podjetja, na voljo jih je še {{kolicina1}}.</h2>
<h3 align = center> Zaradi preprečevanja arbitraže lahko kupite največ {{stevilo_delnic}} delnic tega podjetja.</h3>
<div align='center'>
<form action="/uporabnik/{{stanje}}/trgovanje/{{oznaka}}/" method="post" style="width: 30%;margin-top: 5cm">
%if napaka == 1:
    <h3>Neveljaven vnos željene količine delnic</h3>
%end
%if napaka == 3:
    <h3> Na enkrat ni mogoče izvesti nakupa in prodaje iste delnice. </h3>
%end

    
    <div class="h3 mb-3 font-weight-normal">
    <span>Število delnic, ki jih želite kupiti</span>
    <br>
    <input name='kolicina1' type='integer' value = '0'/> 
    <br>
    
    


<span>Število delnic, ki jih želite prodati</span>
<br>
<input name='kolicina2' type='integer' value = '0' /> 
<br>

%if napaka == 2:
<h5> Geslo ni pravilo </h5>
%end
<span>Geslo:</span>
<input name='geslo' type='password' />
<input type='submit'  value='Potrdi'/>

</form>
</div>
</body>
<footer id = "footer">
  <div class="inner">
    <div class="content">
      <section align = center> <h3>W. Feather:</h3>
      <h5>Buy stocks as you would groceries: <br /> when they are on sale </h5></section>
      <section align = center> <h3>W. Buffet</h3>
      <h5>Risk comes from not knowing what you're doing</h5></section>
      <section align = center> <h3>C. Munger</h3>
      <h5>If people weren't wrong so often, we would't be so rich</h5> </section>
    </div>
  </div>
</footer>

</html>
