%rebase('base.html', stanje=stanje, ROOT=ROOT)

<h1 align = center> Delnica podjetja {{ime}} <br/> ima trenutno ceno {{cena}} EUR.</h1>
<h2 align = center> V lasti imate {{kolicina2}} delnic tega podjetja, na voljo jih je še {{kolicina1}}.</h2>
<h3 align = center> Zaradi preprečevanja arbitraže lahko kupite največ {{stevilo_delnic}} delnic tega podjetja.</h3>
<div align='center'>
<form action="{{ROOT}}uporabnik/{{stanje}}/trgovanje/{{oznaka}}/" method="post" style="width: 30%;margin-top: 5cm">
%if napaka == 1:
    <h3>Neveljaven vnos željene količine delnic</h3>
%end
%if napaka == 3:
    <h3> Na enkrat ni mogoče izvesti nakupa in prodaje iste delnice. </h3>
%end

    
    <div class="h3 mb-3 font-weight-normal">
    <span>Število delnic</span>
    <br>
    <input name='kolicina' type='integer' value = '0'/> 
    <br>
    
<br>
<br>
%if napaka == 2:
<h5> Geslo ni pravilo </h5>
%end
<input type='radio' name='vrsta' value='nakup' id = 'vrsta' checked>
<label for="vrsta">Nakup</label>
<input type='radio' name='vrsta' value='prodaja' id = 'vrsta2'>
<label for="vrsta2">Prodaja</label>
<br>
<span>Geslo:</span>
<input name='geslo' type='password' />
<input type='submit'  value='Potrdi'/>

</form>
</div>

