<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="{{ROOT}}/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='{{ROOT}}/zacetna_stran/'>Domov</a>
      <nav>
        <a href="{{ROOT}}/borze/">Borze</a>
        <a href="{{ROOT}}/sektorji/">Sektorji</a>
        <a href="{{ROOT}}/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="{{ROOT}}/prijava/">Prijava</a>
        <a href="{{ROOT}}/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="{{ROOT}}/uporabnik/{{stanje}}/">Moj profil</a>
        <a href="{{ROOT}}/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="/static/main.css">

<div align="center">
<form action='/prijava/' class="form-signin text-center" method='post' style="width: 30%;margin-top: 5cm">
    <div class="h3 mb-3 font-weight-normal">
    <span>Elektronski naslov:</span><input name='mail' type='text' />
    <br>
    <span>Geslo:</span><input name='geslo' type='password' />
    <br>
    <input value='Prijava' type='submit' />
    </div>
    %if napaka == 1:
    <h3> <b>Napačen elektronski naslov ali geslo, poiskusite še enkrat</b></h3>
    %end    
</form>
</div>
    </body>


<footer id = "footer">
  <div class="inner">
    <div class="content">
    <section align = center> <h3>W. Feather:</h3>
    <h5>Buy stocks as you would groceries: <br /> when they are on sale </h5></section>
    <section align = center> <h3>W. Buffet</h3>
    <h5>Risk comes from not knowing what you're doing</h5></section>
    <section align = center> <h3>C. Munger</h3>
    <h5>If people weren't wrong so often, we would't be so rich</h5> </section>
    </div>
  </div>
</footer>

</html>