%rebase('base.html', stanje=stanje, ROOT=ROOT)
 
<div align="center">
<h1> Še danes začnite s trgovanjem in začnite živeti življenje, kot si ga zaslužite.</h1>
<form action='{{ROOT}}registracija/' class="form-signin text-center" method='post' style="width: 30%;margin-top: 5cm">
    <div class="h3 mb-3 font-weight-normal">
    <span>Ime:</span><input name='ime' type='text' value='{{ime}}'/>
    <br>
    <span>Priimek:</span><input name='priimek' type='text' value='{{priimek}}'/>
    <br>
    <span>Elektronski naslov:</span><input name='mail' type='text' value='{{mail}}'/>
    <br>
    %if napaka == 2:
    <h2> Uporabnik s tem elektronskim naslovom je že registriran. </h2>
    %end
    <br>
    <span>Država:</span><input name='drzava' type='text' value='{{drzava}}'/>
    <br>
    <span>Številka trgovalnega računa:</span><input name='trr' type='text' value='{{trr}}' />
    <br>
    %if napaka == 3:
    <h2> Uporabnik s tem trgovalnim računom je že registriran. <h2>
    %end
    <br>
    <span>Geslo:</span><input name='pass1' type='password' />
    <br>
    <span>Ponovite geslo:</span><input name='pass2' type='password' />
    <br>
    %if napaka == 4:
    <h2> Gesli se ne ujemata. </h2>      
    %end
    %if napaka == 5:
    <h2> Geslo je prekratko.
    %end
    %if napaka == 1:
    <h2> Izpolnite vsa polja.</h2>
    %end
    <br>
    <input value='Registracija' type='submit' />
    </div> 
</form>
</div>
