<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='/zacetna_stran/'>Domov</a>
      <nav>
        <a href="/borze/">Borze</a>
        <a href="/sektorji/">Sektorji</a>
        <a href="/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="/prijava/">Prijava</a>
        <a href="/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="/static/main.css">

    </body>


<div align="center">
<h1> Še danes se pridružite buržoaziji in v enem tednu začnite živeti življenje, kot si ga zaslužite.</h1>
<form action='/registracija/' class="form-signin text-center" method='post' style="width: 30%;margin-top: 5cm">
    <div class="h3 mb-3 font-weight-normal">
    <span>Ime:</span><input name='ime' type='text' />
    <br>
    <span>Priimek:</span><input name='priimek' type='text' />
    <br>
    <span>Elektronski naslov:</span><input name='mail' type='text' />
    <br>
    <span>Država:</span><input name='drzava' type='text' />
    <br>
    <span>Številka trgovalnega računa:</span><input name='trr' type='text' />
    <br>
    <span>Geslo:</span><input name='pass1' type='password' />
    <br>
    <span>Ponovite geslo:</span><input name='pass2' type='password' />
    <br>
    <input value='Registracija' type='submit' />
    </div> 
</form>
</div>
</html>