<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='/zacetna_stran/'>Domov</a>
      <nav>
        <a href="/borze/">Borze</a>
        <a href="/sektorji/">Sektorji</a>
        <a href="/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="/prijava/">Prijava</a>
        <a href="/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="/static/main.css">

    </body>

<h1>Vse delnice, ki so na iz sektroja {{oznaka}}:
<table cellpadding="0" cellspacing="0" border="1">
<tr>
    <th>Oznaka</th>
    <th>Ime</th>
    <th>Cena v EUR</th>
    <th>Borza</th>
    <th>Količina</th>
</tr>
%for oznaka, ime, cena, borza, kolicina in sektor:
<tr>
    <th>{{oznaka}}</th>
    <th>{{ime}}</th>
    <th>{{cena}}</th>
    <th>{{borza}}</th>
    <th>{{kolicina}}</th>
</tr>
%end
</table>
<h1> Skupna vrednost vseh delnic v tem sektorju je {{vrednost}} EUR.</h1>
</hmtl>