<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="{{ROOT}}/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='{{ROOT}}/zacetna_stran/'>Domov</a>
      <nav>
        <a href="{{ROOT}}/borze/">Borze</a>
        <a href="{{ROOT}}/sektorji/">Sektorji</a>
        <a href="{{ROOT}}/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="{{ROOT}}/prijava/">Prijava</a>
        <a href="{{ROOT}}/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="{{ROOT}}/uporabnik/{{stanje}}/">Moj profil</a>
        <a href="{{ROOT}}/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>

    <body>
<h1>Pozdravljeni {{ime}} {{priimek}}.</h1>
<div class="highlights">
  <div class="content">
  <header>
      <h3>
        <b>
          <a href="{{ROOT}}/uporabnik/{{stanje}}/denar/" > S klikom naložite ali dvignite denar</a>
        </b>
      </h3>
  </header>
  </div>
  <div class="content">
  <header>
  <h3> 
    <b>
      <a href="{{ROOT}}/uporabnik/{{stanje}}/trgovanje/">Trgujte z delnicami</a> 
    </b>
  </h3>
  </header>
  </div>
  
</div>
  %if stanje == 69:
  <div align="center">
  <form action="/posodobi/" class="form-signin text-center" method='post' style="width: 30%;margin-top: 0cm">
  <div class="h3 mb-3 font-weight-normal">
  <input value='Posodobi' type='submit' />
  </div>
  </form>
  </div>
  %end

%if trans == []:
  
  <h5> Naložite denar in začnite trgovati </h5>
%end
%if trans != []:
<h2> Vaše stanje na računu je {{vrednost}} EUR</h2>
<div align="left">
<h4> Vaše transakcije na računu </h4>
<table>
<tr>
  <th> ID </th>
  <th> Znesek </th>
%for id,znesek,uporabnik,oznaka,kolicina,tip in trans:
<tr>
<th>{{id}}</th>
<th>{{znesek}} EUR</th>
</tr>
%end
%end
</table>
</div>
%if trans_delnice == []:
  <h5> Začnite trgovati z delnicami! </h5>
%end
%if trans_delnice != []:
<div align="left">
<h4> Vaše operacije z delnicami </h4>
<table>
<tr>
  <th> Oznaka delnice </th>
  <th> Kolicina </th>
  <th> Znesek </th>
</tr>

%for id,znesek,uporabnik,oznaka,kolicina,tip in trans_delnice:
<tr>
  <th> {{oznaka}} </th>
  <th> {{kolicina}} </th>
  <th> {{znesek}} EUR</th>
</tr>
%end
%end
</table>
</div>

</body>


<footer id = "footer">
  <div class="inner">
    <div class="content">
      <section align = center> <h3>W. Feather:</h3>
      <h5>Buy stocks as you would groceries: <br /> when they are on sale </h5></section>
      <section align = center> <h3>W. Buffet</h3>
      <h5>Risk comes from not knowing what you're doing</h5></section>
      <section align = center> <h3>C. Munger</h3>
      <h5>If people weren't wrong so often, we would't be so rich</h5> </section>
    </div>
  </div>
</footer>
</html>