<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css"  href="/static/main.css">
    <meta charset='utf8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <header id='header'>
      <a class="logo" href='/zacetna_stran/'>Domov</a>
      <nav>
        <a href="/borze/">Borze</a>
        <a href="/sektorji/">Sektorji</a>
        <a href="/topdelnice/"> Top delnice</a>
        %if stanje == 0:
        <a href="/prijava/">Prijava</a>
        <a href="/registracija/">Registracija</a>
        %end 
        %if stanje != 0:
        <a href="/uporabnik/{{stanje}}/">Moj profil</a>
        <a href="/odjava/">Odjava</a>
        %end
      </nav>
      </header>
    </div>
    </head>

    <body>
      <link rel="stylesheet" type="text/css"  href="/static/main.css">


<section id="banner">
<div class="inner">
    <h1>Zelo dobra borza</h1>
    <p>Naša borza je zelo dobra in vsi ki tu trgujejo, zaslužijo veliko denarja. Če pa se najde kdo, ki je izgubil vse, je pa to njegova osebna krivda.</p>
    <a href='/registracija/'><button>Pridruži se buržoaziji</button></a>
</div>

    </body>

</section>
<footer id = "footer">
  <div class="inner">
    <div class="content">
    <section> <h3>M. Gandhi:</h3>
    <h5>Stonks go up and down </h5></section>
    <section> <h3>A. Einstein</h3>
    <h5>Don't be an idiot, put all money into stonks.</h5></section>
    <section> <h3>Everyone before 2008</h3>
    <h5>Housing market can not fail, are you crazy?</h5> </section>
    </div>
  </div>
</footer>
</html>